.banner {
  background-image: url(/banner2.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; /* 背景圖片自動縮放以填滿容器 */
  height: 100vh;
  width: 100%;
  padding-top: 260px;
  // margin-bottom: 80px;

  // 讓滿版有高度可直接設定高 或是使用padding推出高度
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5%;
    h2 {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // 添加文字陰影提高可讀性
      font-size: 2.5rem;
      text-align: right;
      padding-bottom: 1.5rem;
      margin-bottom: 1rem;
      span {
        white-space: nowrap; // 確保每個 span 內的文字不會換行
      }
    }
    h3 {
      color: #ffffff; // 白色文字
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // 添加文字陰影提高可讀性
      font-size: 1.8rem; // 調整字體大小
    }
  }
}
@media (max-width: 768px) {
  .banner {
    padding: 30px;
    .container {
      padding-right: 3%;
      h2 {
        max-width: 100%; /* 確保文字不會溢出容器 */
        line-height: 1.3; /* 手機版增加行高提高可讀性 */
        margin-bottom: 0.5rem;
        text-align: end;
      }
      h3 {
        font-size: 1.4rem; // 調整手機版字體大小
        line-height: 1.2;
        text-align: center;
        white-space: nowrap;
      }
    }
  }
}
@media (max-width: 576px) {
  .banner {
    padding-top: 80px; // 更靠上

    .container {
      padding-right: 15px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 1rem; // 更小的字體
        line-height: 1.4;

        max-width: 280px;
        text-align: center;
        span {
          display: inline-block;
          margin-bottom: 0.2rem; // 增加一點間距
        }
      }

      h3 {
        font-size: 0.9rem; // 更小的字體
        margin: 0 auto; // 容器置中
        max-width: 100%;
        text-align: center;
      }
    }
  }
}
